exportPattern("^[[:alpha:]]+")
S3method(summary, dptee)
export(dptee)
export(summary.dptee)
import(Formula)
importFrom("utils", "installed.packages", "head")
importFrom("MASS", "ginv")
importFrom("plm", "pdata.frame", "is.pbalanced", "pdim")
importFrom("stats", "quantile", "rnorm", "dnorm", "sd", "pnorm", "pchisq", "printCoefmat", "model.frame", "model.matrix", "model.response", "terms", "na.omit")
